<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hansen.mapper.ActiveCodeMapper">
	<sql id="fields">
		code,ownerId,type,usedUserId,createTime,updateTime,status,remark
	</sql>

	<sql id="fields_id">
		id,<include refid="fields"/>
	</sql>

	<sql id="table_name">base_active_code</sql>

	<sql id="selector">
		select <include refid="fields_id"/> from <include refid="table_name"/>
	</sql>

	<sql id="condition">
		<where>
			<if test="model.code != null and model.code != ''">code=#{model.code}</if>
			<if test="model.ownerId != null and model.ownerId != ''">and ownerId=#{model.ownerId}</if>
			<if test="model.type != null">and type=#{model.type}</if>
			<if test="model.usedUserId != null and model.usedUserId != ''">and usedUserId=#{model.usedUserId}</if>
			<if test="model.status != null">and status=#{model.status}</if>
			<if test="model.remark != null and model.remark != ''">and remark=#{model.remark}</if>
		</where>
	</sql>

	<insert id="create" useGeneratedKeys="true" keyProperty="id">
		insert into <include refid="table_name"/>(
		<trim  suffixOverrides="," >
			<if test="model.id!= null  and model.id!=''">
				id,
			</if>
			<if test="model.code!= null  and model.code!=''">
				code,
			</if>
			<if test="model.ownerId!= null  and model.ownerId!=''">
				ownerId,
			</if>
			<if test="model.type!= null  and model.type!=''">
				type,
			</if>
			<if test="model.usedUserId!= null  and model.usedUserId!=''">
				usedUserId,
			</if>
			<if test="model.createTime!= null  and model.createTime!=''">
				createTime,
			</if>
			<if test="model.updateTime!= null  and model.updateTime!=''">
				updateTime,
			</if>
			<if test="model.status!= null  and model.status!=''">
				status,
			</if>
			<if test="model.remark!= null  and model.remark!=''">
				remark,
			</if>
		</trim>
		)
		values(
		<trim  suffixOverrides="," >

			<if test="model.id!= null  and model.id!=''">
				#{model.id},
			</if>
			<if test="model.code!= null  and model.code!=''">
				#{model.code},
			</if>
			<if test="model.ownerId!= null  and model.ownerId!=''">
				#{model.ownerId},
			</if>
			<if test="model.type!= null  and model.type!=''">
				#{model.type},
			</if>
			<if test="model.usedUserId!= null  and model.usedUserId!=''">
				#{model.usedUserId},
			</if>
			<if test="model.createTime!= null">
				#{model.createTime},
			</if>
			<if test="model.updateTime!= null">
				#{model.updateTime},
			</if>
			<if test="model.status!= null  and model.status!=''">
				#{model.status},
			</if>
			<if test="model.remark!= null  and model.remark!=''">
				#{model.remark},
			</if>
		</trim>
		);
	</insert>

	<select id="readById" resultType="ActiveCode">
		<include refid="selector"/> where id=#{id}  limit 1;
	</select>

	<select id="readList" resultType="ActiveCode">
		<include refid="selector"/> <include refid="condition"/> limit #{startRow}, #{pageSize};
	</select>

	<select id="readOne" resultType="ActiveCode">
		<include refid="selector"/> <include refid="condition"/> limit 1;
	</select>

	<select id="readCount" resultType="int">
		select count(1) from <include refid="table_name"/> <include refid="condition"/>
	</select>

	<update id="updateById">
		update <include refid="table_name"/>
		<set>
			<if test="model.code != null and model.code !=''">code= #{model.code},</if>
			<if test="model.ownerId != null and model.ownerId !=''">ownerId= #{model.ownerId},</if>
			<if test="model.type != null">type= #{model.type},</if>
			<if test="model.usedUserId != null and model.usedUserId !=''">usedUserId= #{model.usedUserId},</if>
			<if test="model.status != null">status= #{model.status},</if>
			<if test="model.remark != null and model.remark !=''">remark= #{model.remark},</if>
			updateTime=now()
		</set>
		where id=#{id}
	</update>

	<update id="deleteById">
		update <include refid="table_name"/> set status = 0,updateTime=now() where id = #{id}
	</update>

</mapper>



