<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.mapper.BaseUserJoinInfoMapper">

	<sql id="fields">
		id,userName,phone,createTime, updateTime, status, remark
	</sql>

	<sql id="table">base_user_joinInfo</sql>

	<sql id="selector">
		SELECT
		<include refid="fields" />
		FROM
		<include refid="table" />
	</sql>

	<sql id="condition">
		<where>
			1=1
			<if test="model.id != null">AND id= #{model.id}</if>
			<if test="model.status != null">AND status= #{model.status}</if>
		</where>
	</sql>

	<insert id="create" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		<include refid="table" />
		(
		<include refid="fields" />
		)
		VALUES (#{id},#{userName},#{phone},#{createTime}, #{updateTime}, #{status}, #{remark})
	</insert>

	<select id="readById" resultType="com.mall.model.BaseUserJoinInfo">
		<include refid="selector"/>
		where id=#{id} limit 1;
	</select>

	<select id="readList" resultType="com.mall.model.BaseUserJoinInfo">
		<include refid="selector"/>
		<include refid="condition"/>
		ORDER BY createTime DESC
		limit #{startRow}, #{pageSize};
	</select>

	<select id="readCount" resultType="int">
		select count(1) from
		<include refid="table"/>
		<include refid="condition"/>
	</select>

	<select id="readOne" resultType="com.mall.model.BaseUserJoinInfo">
		<include refid="selector"/>
		<include refid="condition"/>
		limit 1;
	</select>


	<update id="deleteById">
		update
		<include refid="table"/>
		set status = 1,updateTime=now() where id = #{id}
	</update>
</mapper>



