<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.mapper.BaseUserAddressMapper">

	<sql id="fields">
		id, userId ,userName,phone,province,city,county,addr,
		createTime, updateTime, status, remark
	</sql>

	<sql id="table">base_user_address</sql>

	<sql id="selector">
		SELECT
		<include refid="fields" />
		FROM
		<include refid="table" />
	</sql>

	<sql id="condition">
		<where>
			1=1
			<if test="model.id != null">AND id= #{model.id}</if>
			<if test="model.status != null">AND status= #{model.status}</if>
		</where>
	</sql>

	<insert id="create" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		<include refid="table" />
		(
		<include refid="fields" />
		)
		VALUES (#{id}, #{userId},#{userName},#{phone}, #{province},#{city},#{county},#{addr},
		         #{createTime}, #{updateTime}, #{status}, #{remark})
	</insert>



	<!--<update id="update">-->
		<!--UPDATE-->
		<!--<include refid="table" />-->
		<!--<set>-->
			<!--<if test="model.account != null">account= #{model.account},</if>-->
			<!--<if test="model.password != null">password= #{model.password},</if>-->
			<!--<if test="model.payPwd != null">payPwd= #{model.payPwd},</if>-->
			<!--<if test="model.weixin != null">weixin= #{model.weixin},</if>-->
			<!--<if test="model.phone != null">phone= #{model.phone},</if>-->
			<!--<if test="model.email != null">email= #{model.email},</if>-->
			<!--<if test="model.userName != null">userName= #{model.userName},</if>-->
			<!--<if test="model.nickName != null">nickName= #{model.nickName},</if>-->
			<!--<if test="model.sex != null">sex= #{model.sex},</if>-->
			<!--<if test="model.headImgUrl != null">headImgUrl= #{model.headImgUrl},</if>-->
			<!--<if test="model.freezeScore != null">freezeScore= #{model.freezeScore},</if>-->
			<!--<if test="model.firstReferrer != null">firstReferrer= #{model.firstReferrer},</if>-->
			<!--<if test="model.secondReferrer != null">secondReferrer= #{model.secondReferrer},</if>-->
			<!--<if test="model.thirdReferrer != null">thirdReferrer= #{model.thirdReferrer},</if>-->
			<!--<if test="model.storeId != null">storeId= #{model.storeId},</if>-->
			<!--<if test="model.groupType != null">groupType= #{model.groupType},</if>-->
			<!--<if test="model.updateTime != null">updateTime= #{model.updateTime},</if>-->
			<!--<if test="model.status != null">status= #{model.status},</if>-->
			<!--<if test="model.remark != null">remark= #{model.remark},</if>-->
			<!--<if test="model.exchangeEP != null and model.exchangeEP!=0 ">exchangeEP= #{model.exchangeEP},</if>-->
			<!--<if test="model.consumeEP != null  and model.consumeEP!=0">consumeEP= #{model.consumeEP},</if>-->
			<!--<if test="model.grade != null  and model.grade!=0">grade= #{model.grade},</if>-->
			<!--<if test="model.remainSign != null">remainSign= #{model.remainSign},</if>-->
			<!--<if test="model.signTime != null">signTime= #{model.signTime},</if>-->
			<!--<if test="model.registrationId != null">registrationId= #{model.registrationId},</if>-->
			<!--<if test="model.isKF != null">isKF= #{model.isKF},</if>-->
			<!--<if test="model.checked != null">checked= #{model.checked},</if>-->
			<!--<if test="model.levles != null">levles= #{model.levles},</if>-->
			<!--<if test="model.loginTime != null">loginTime= #{model.loginTime},</if>-->
			<!--<if test="model.openId != null">openId= #{model.openId},</if>-->
		<!--</set>-->
		<!--WHERE id = #{id}-->
	<!--</update>id-->


	<select id="readById" resultType="com.mall.model.BaseUserAddress">
		<include refid="selector"/>
		where id=#{id} limit 1;
	</select>

	<select id="readList" resultType="com.mall.model.BaseUserAddress">
		<include refid="selector"/>
		<include refid="condition"/>
		ORDER BY createTime DESC
		limit #{startRow}, #{pageSize};
	</select>
	
	<select id="getAddressListByUserId" resultType="com.mall.model.BaseUserAddress">
		<include refid="selector"/>
		where userId=#{userId}
		ORDER BY createTime DESC
		limit 10;
	</select>


	<select id="readCount" resultType="int">
		select count(1) from
		<include refid="table"/>
		<include refid="condition"/>
	</select>

	<select id="readOne" resultType="com.mall.model.BaseUserAddress">
		<include refid="selector"/>
		<include refid="condition"/>
		limit 1;
	</select>


	<update id="deleteById">
		update
		<include refid="table"/>
		set status = 1,updateTime=now() where id = #{id}
	</update>
</mapper>



