<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.mapper.MallStoreMapper">

	<sql id="fields">
        id, userId, storeName, icon, province, city, county, addr, businessScope, detail, isRecommend,servicePhone
		createTime, updateTime, status, remark
    </sql>
    
    <sql id="table">mall_store</sql>
    
    <sql id="selector">
        SELECT <include refid="fields"/>
        FROM <include refid="table"/>
    </sql>

    <sql id="condition">
        <where>
            1=1
            <if test="model.id != null">AND id= #{model.id}</if>
            <if test="model.userId != null">AND userId= #{model.userId}</if>
            <if test="model.status != null">AND status= #{model.status}</if>
        </where>
    </sql>


	<insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO <include refid="table"/> (<include refid="fields"/>)
		VALUES (#{id}, #{userId}, #{storeName}, #{icon}, #{province}, 
			     #{city}, #{county}, #{addr}, #{businessScope}, #{detail}, #{isRecommend}, #{servicePhone},
		         #{createTime}, #{updateTime}, #{status}, #{remark})
    </insert>
	<!---->
	<!--<update id="update">-->
        <!--UPDATE <include refid="table"/>-->
        <!--<set>-->
            <!--<if test="model.storeName != null">storeName= #{model.storeName},</if>-->
            <!--<if test="model.icon != null">icon= #{model.icon},</if>-->
            <!--<if test="model.province != null">province= #{model.province},</if>-->
            <!--<if test="model.city != null">city= #{model.city},</if>-->
            <!--<if test="model.county != null">county= #{model.county},</if>-->
            <!--<if test="model.addr != null">addr= #{model.addr},</if>-->
            <!--<if test="model.inviteCode != null">inviteCode= #{model.inviteCode},</if>-->
            <!--<if test="model.detail != null">detail= #{model.detail},</if>-->
            <!--<if test="model.firstReferrerScale != null">firstReferrerScale= #{model.firstReferrerScale},</if>-->
            <!--<if test="model.secondReferrerScale != null">secondReferrerScale= #{model.secondReferrerScale},</if>-->
            <!--<if test="model.thirdReferrerScale != null">thirdReferrerScale= #{model.thirdReferrerScale},</if>-->
            <!--<if test="model.updateTime != null">updateTime= #{model.updateTime},</if>-->
            <!--<if test="model.status != null">status= #{model.status},</if>-->
            <!--<if test="model.remark != null">remark= #{model.remark}</if>-->
        <!--</set>-->
		<!--WHERE id = #{id}-->
    <!--</update>-->
    <!---->

    <select id="readById" resultType="com.mall.model.MallStore">
        <include refid="selector"/>
        where id=#{id} limit 1;
    </select>

    <select id="readList" resultType="com.mall.model.MallStore">
        <include refid="selector"/>
        <include refid="condition"/>
        ORDER BY createTime DESC
        limit #{startRow}, #{pageSize};
    </select>


    <select id="readCount" resultType="int">
        select count(1) from
        <include refid="table"/>
        <include refid="condition"/>
    </select>

    <select id="readOne" resultType="com.mall.model.MallStore">
        <include refid="selector"/>
        <include refid="condition"/>
        limit 1;
    </select>


    <update id="deleteById">
        update
        <include refid="table"/>
        set status = 1,updateTime=now() where id = #{id}
    </update>

</mapper>


