<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.mapper.MallOrderMapper">

	<sql id="fields">
        id, orderNo, orderType, userId, storeId, storeName, goodsId, goodsName, detail,
		icon, price, expressNo, expressName, userName, phone, addr,
		createTime, updateTime, status, remark,num,payWay
    </sql>
    <sql id="table">mall_order</sql>

    <sql id="selector">
        SELECT <include refid="fields"/>
        FROM <include refid="table"/>
    </sql>

    <sql id="condition">
        <where>
            1=1
            <if test="model.id != null">AND id= #{model.id}</if>
            <if test="model.orderNo != null">AND orderNo= #{model.orderNo}</if>
            <if test="model.userId != null">AND userId= #{model.userId}</if>
            <if test="model.storeId != null">AND storeId= #{model.storeId}</if>
            <if test="model.goodsId != null">AND goodsId= #{model.goodsId}</if>
            <if test="model.goodsName != null">AND goodsName= #{model.goodsName}</if>
            <if test="model.status != null">AND status= #{model.status}</if>
        </where>
    </sql>

	<insert id="create"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO <include refid="table"/> (<include refid="fields"/>)
		VALUES (#{id}, #{orderNo}, #{orderType}, #{userId}, #{storeId}, #{storeName}, #{goodsId}, #{goodsName}, "",
				 #{icon},  #{price}, #{expressNo}, #{expressName}, #{userName}, #{phone}, #{addr},
				 #{createTime}, #{updateTime}, #{status}, #{remark}, #{num}, #{payWay})
    </insert> 
    <!---->
    <!--<update id="update">-->
        <!--UPDATE <include refid="table"/>-->
        <!--<set>-->
        	<!--<if test="model.expressNo != null">expressNo= #{model.expressNo},</if>-->
        	<!--<if test="model.expressName != null">expressName= #{model.expressName},</if>-->
        	<!--<if test="model.userName != null">userName= #{model.userName},</if>-->
        	<!--<if test="model.phone != null">phone= #{model.phone},</if>-->
        	<!--<if test="model.addr != null">addr= #{model.addr},</if>-->
        	<!--<if test="model.updateTime != null">updateTime= #{model.updateTime},</if>-->
            <!--<if test="model.status != null">status= #{model.status},</if>-->
            <!--<if test="model.remark != null">remark= #{model.remark},</if>-->
            <!--<if test="model.remark != null">shareUserId= #{model.shareUserId},</if>-->
            <!--<if test="model.remark != null">payWay= #{model.payWay}</if>-->
        <!--</set>-->
		<!--WHERE id = #{id}-->
    <!--</update>-->


    <select id="readById" resultType="com.mall.model.MallOrder">
        <include refid="selector"/>
        where id=#{id} limit 1;
    </select>

    <select id="readList" resultType="com.mall.model.MallOrder">
        <include refid="selector"/>
        <include refid="condition"/>
        ORDER BY createTime DESC
        limit #{startRow}, #{pageSize};
    </select>


    <select id="readCount" resultType="int">
        select count(1) from
        <include refid="table"/>
        <include refid="condition"/>
    </select>

    <select id="readOne" resultType="com.mall.model.MallOrder">
        <include refid="selector"/>
        <include refid="condition"/>
        limit 1;
    </select>


    <update id="deleteById">
        update
        <include refid="table"/>
        set status = 1,updateTime=now() where id = #{id}
    </update>

    <!--根据订单号查询订单 -->
    <select id="getByOrderNo" resultType="com.mall.model.MallOrder">
        <include refid="selector"/>
        WHERE orderNo = #{orderNo}
        AND userId = #{userId}
        LIMIT 1;
    </select>

</mapper>


