<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.UserDetailMapper">

    <sql id="fields">
        forzenPayAmt,forzenTradeAmt,forzenEquityAmt,inPayAddress,inTradeAddress,inEquityAddress,outPayAddress,outEquityAddress,outTradeAddress,levles,province,city,county,addr,createTime,updateTime,status,remark
    </sql>

    <sql id="fields_id">
        id,<include refid="fields"/>
    </sql>

    <sql id="table_name">user_detail</sql>

    <sql id="selector">
        select <include refid="fields_id"/> from <include refid="table_name"/>
    </sql>

    <sql id="condition">
        <where>
            <if test="model.forzenPayAmt != null">forzenPayAmt=#{model.forzenPayAmt}</if>
            <if test="model.forzenTradeAmt != null">and forzenTradeAmt=#{model.forzenTradeAmt}</if>
            <if test="model.forzenEquityAmt != null">and forzenEquityAmt=#{model.forzenEquityAmt}</if>
            <if test="model.inPayAddress != null and model.inPayAddress != ''">and inPayAddress=#{model.inPayAddress}</if>
            <if test="model.inTradeAddress != null and model.inTradeAddress != ''">and inTradeAddress=#{model.inTradeAddress}</if>
            <if test="model.inEquityAddress != null and model.inEquityAddress != ''">and inEquityAddress=#{model.inEquityAddress}</if>
            <if test="model.outPayAddress != null and model.outPayAddress != ''">and outPayAddress=#{model.outPayAddress}</if>
            <if test="model.outEquityAddress != null and model.outEquityAddress != ''">and outEquityAddress=#{model.outEquityAddress}</if>
            <if test="model.outTradeAddress != null and model.outTradeAddress != ''">and outTradeAddress=#{model.outTradeAddress}</if>
            <if test="model.levles != null">and levles=#{model.levles}</if>
            <if test="model.province != null and model.province != ''">and province=#{model.province}</if>
            <if test="model.city != null and model.city != ''">and city=#{model.city}</if>
            <if test="model.county != null and model.county != ''">and county=#{model.county}</if>
            <if test="model.addr != null and model.addr != ''">and addr=#{model.addr}</if>
            <if test="model.status != null">and status=#{model.status}</if>
            <if test="model.remark != null and model.remark != ''">and remark=#{model.remark}</if>
        </where>
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="table_name"/>(<include refid="fields_id"/>)
        values(#{id},#{forzenPayAmt},#{forzenTradeAmt},#{forzenEquityAmt},#{inPayAddress},#{inTradeAddress},#{inEquityAddress},#{outPayAddress},#{outEquityAddress},#{outTradeAddress},#{levles},#{province},#{city},#{county},#{addr},now(),now(),#{status},#{remark});
    </insert>

    <select id="readById" resultType="com.model.UserDetail">
        <include refid="selector"/> where id=#{id}  limit 1;
    </select>

    <select id="readList" resultType="com.model.UserDetail">
        <include refid="selector"/> <include refid="condition"/> limit #{startRow}, #{pageSize};
    </select>

    <select id="readOne" resultType="com.model.UserDetail">
        <include refid="selector"/> <include refid="condition"/> limit 1;
    </select>

    <select id="readCount" resultType="int">
        select count(1) from <include refid="table_name"/> <include refid="condition"/>
    </select>

    <update id="updateById">
        update <include refid="table_name"/>
        <set>
            <if test="model.forzenPayAmt != null">forzenPayAmt= #{model.forzenPayAmt},</if>
            <if test="model.forzenTradeAmt != null">forzenTradeAmt= #{model.forzenTradeAmt},</if>
            <if test="model.forzenEquityAmt != null">forzenEquityAmt= #{model.forzenEquityAmt},</if>
            <if test="model.inPayAddress != null and model.inPayAddress !=''">inPayAddress= #{model.inPayAddress},</if>
            <if test="model.inTradeAddress != null and model.inTradeAddress !=''">inTradeAddress= #{model.inTradeAddress},</if>
            <if test="model.inEquityAddress != null and model.inEquityAddress !=''">inEquityAddress= #{model.inEquityAddress},</if>
            <if test="model.outPayAddress != null and model.outPayAddress !=''">outPayAddress= #{model.outPayAddress},</if>
            <if test="model.outEquityAddress != null and model.outEquityAddress !=''">outEquityAddress= #{model.outEquityAddress},</if>
            <if test="model.outTradeAddress != null and model.outTradeAddress !=''">outTradeAddress= #{model.outTradeAddress},</if>
            <if test="model.levles != null">levles= #{model.levles},</if>
            <if test="model.province != null and model.province !=''">province= #{model.province},</if>
            <if test="model.city != null and model.city !=''">city= #{model.city},</if>
            <if test="model.county != null and model.county !=''">county= #{model.county},</if>
            <if test="model.addr != null and model.addr !=''">addr= #{model.addr},</if>
            <if test="model.status != null">status= #{model.status},</if>
            <if test="model.remark != null and model.remark !=''">remark= #{model.remark},</if>
            updateTime=now()
        </set>
        where id=#{id}
    </update>

    <update id="deleteById">
        update <include refid="table_name"/> set status = 0,updateTime=now() where id = #{id}
    </update>

    <update id="updateForzenEquityAmtByUserId">
        update <include refid="table_name"/> set forzenEquityAmt = forzenEquityAmt + #{forzenEquityAmt},updateTime=now() where id = #{userId} and (forzenEquityAmt + #{forzenEquityAmt})>0
    </update>

    <update id="updateForzenTradeAmtByUserId">
        update <include refid="table_name"/> set forzeTtradeAmt = forzeTtradeAmt + #{forzeTtradeAmt},updateTime=now() where id = #{userId} and (forzeTtradeAmt + #{forzeTtradeAmt})>0
    </update>

    <update id="updateForzenPayAmtByUserId">
        update <include refid="table_name"/> set forzenPayAmt = forzenPayAmt + #{forzenPayAmt},updateTime=now() where id = #{userId} and (forzenPayAmt + #{forzenPayAmt})>0
    </update>

</mapper>



