<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.mapper.MallGoodsMapper">

	<sql id="fields">
		id, sortId, storeId, storeName, name, icon, price,detail, goodsType, stock, isTop, isRecommend,originalPrice,
		createTime, updateTime, status, remark
	</sql>

	<sql id="table">mall_goods</sql>

	<sql id="selector">
		SELECT
		<include refid="fields" />
		FROM
		<include refid="table" />
	</sql>

	<sql id="condition">
		<where>
			1=1
			<if test="model.id != null">AND id= #{model.id}</if>
			<if test="model.sortId != null">AND sortId= #{model.sortId}</if>
			<if test="model.isTop != null">AND isTop= #{model.isTop}</if>
			<if test="model.isRecommend != null">AND isRecommend= #{model.isRecommend}</if>
			<if test="model.name != null">AND name= #{model.name}</if>
			<if test="model.status != null">AND status= #{model.status}</if>
			<if test="model.status == null">AND status != 2</if>
		</where>
	</sql>

	<insert id="create"  useGeneratedKeys="true"   keyProperty="id">
		INSERT INTO
		<include refid="table" />
		(
		<include refid="fields" />
		)
		VALUES (#{id}, #{sortId}, #{storeId},
		         #{storeName}, #{name},#{icon}, #{price},#{detail},#{goodsType}, #{stock},
			     #{isTop}, #{isRecommend},#{originalPrice},
	             #{createTime}, #{updateTime}, #{status},#{remark})
	</insert>



	<update id="updateById">
		UPDATE
		<include refid="table" />
		<set>
			<if test="model.name != null">name= #{model.name},</if>
			<if test="model.sortId != null">sortId= #{model.sortId},</if>
			<if test="model.icon != null">icon= #{model.icon},</if>
			<if test="model.price != null">price= #{model.price},</if>
			<if test="model.detail != null">detail= #{model.detail},</if>
			<if test="model.goodsType != null">goodsType= #{model.goodsType},</if>
			<if test="model.stock != null">stock= #{model.stock},</if>
			<if test="model.isTop != null">isTop= #{model.isTop},</if>
			<if test="model.isRecommend != null">isRecommend= #{model.isRecommend},</if>
			<if test="model.updateTime != null">updateTime= #{model.updateTime},</if>
			<if test="model.status != null">status= #{model.status},</if>
			<if test="model.remark != null">remark= #{model.remark},</if>
			<if test="model.originalPrice != null">originalPrice= #{model.originalPrice}</if>
		</set>
		WHERE id = #{id}
	</update>



	<select id="readById" resultType="com.mall.model.MallGoods">
		<include refid="selector"/>
		where id=#{id} limit 1;
	</select>

	<select id="readList" resultType="com.mall.model.MallGoods">
		<include refid="selector"/>
		<include refid="condition"/>
		ORDER BY createTime DESC
		limit #{startRow}, #{pageSize};
	</select>


	<select id="readCount" resultType="int">
		select count(1) from
		<include refid="table"/>
		<include refid="condition"/>
	</select>

	<select id="readOne" resultType="com.mall.model.MallGoods">
		<include refid="selector"/>
		<include refid="condition"/>
		limit 1;
	</select>


	<update id="deleteById">
		update
		<include refid="table"/>
		set status = 1,updateTime=now() where id = #{id}
	</update>


	<update id="batchDel" parameterType="java.util.List">
		update
		<include refid="table"/>
		set status = 2,updateTime=now() where id in
		<foreach collection="ids" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach>
	</update>
</mapper>


