<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.TradeOrderMapper">

    <sql id="fields">
        orderNo,sendUserId,receviceUserId,amt,confirmAmt,poundage,source,pushFirstReferrerScale,pushSecondReferrerScale,equityAmtScale,payAmtScale,tradeAmtScale,cardGrade,taskCycle,signCycle,createTime,updateTime,status,remark
    </sql>

    <sql id="fields_id">
        id,<include refid="fields"/>
    </sql>

    <sql id="table_name">trade_order</sql>

    <sql id="selector">
        select <include refid="fields_id"/> from <include refid="table_name"/>
    </sql>

    <sql id="condition">
        <where>
            <if test="model.orderNo != null and model.orderNo != ''">orderNo=#{model.orderNo}</if>
            <if test="model.sendUserId != null and model.sendUserId != ''">and sendUserId=#{model.sendUserId}</if>
            <if test="model.receviceUserId != null and model.receviceUserId != ''">and receviceUserId=#{model.receviceUserId}</if>
            <if test="model.amt != null">and amt=#{model.amt}</if>
            <if test="model.confirmAmt != null">and confirmAmt=#{model.confirmAmt}</if>
            <if test="model.poundage != null">and poundage=#{model.poundage}</if>
            <if test="model.source != null">and source=#{model.source}</if>
            <if test="model.pushFirstReferrerScale != null">and pushFirstReferrerScale=#{model.pushFirstReferrerScale}</if>
            <if test="model.pushSecondReferrerScale != null">and pushSecondReferrerScale=#{model.pushSecondReferrerScale}</if>
            <if test="model.equityAmtScale != null">and equityAmtScale=#{model.equityAmtScale}</if>
            <if test="model.payAmtScale != null">and payAmtScale=#{model.payAmtScale}</if>
            <if test="model.tradeAmtScale != null">and tradeAmtScale=#{model.tradeAmtScale}</if>
            <if test="model.cardGrade != null">and cardGrade=#{model.cardGrade}</if>
            <if test="model.taskCycle != null">and taskCycle=#{model.taskCycle}</if>
            <if test="model.signCycle != null">and signCycle=#{model.signCycle}</if>
            <if test="model.status != null">and status=#{model.status}</if>
            <if test="model.remark != null and model.remark != ''">and remark=#{model.remark}</if>
        </where>
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="table_name"/>(<include refid="fields_id"/>)
        values(#{id},#{orderNo},#{sendUserId},#{receviceUserId},#{amt},#{confirmAmt},#{poundage},#{source},#{pushFirstReferrerScale},#{pushSecondReferrerScale},#{equityAmtScale},#{payAmtScale},#{tradeAmtScale},#{cardGrade},#{taskCycle},#{signCycle},now(),now(),#{status},#{remark});
    </insert>

    <select id="readById" resultType="com.model.TradeOrder">
        <include refid="selector"/> where id=#{id}  limit 1;
    </select>

    <select id="readList" resultType="com.model.TradeOrder">
        <include refid="selector"/> <include refid="condition"/> limit #{startRow}, #{pageSize};
    </select>

    <select id="readOne" resultType="com.model.TradeOrder">
        <include refid="selector"/> <include refid="condition"/> limit 1;
    </select>

    <select id="readCount" resultType="int">
        select count(1) from <include refid="table_name"/> <include refid="condition"/>
    </select>

    <update id="updateById">
        update <include refid="table_name"/>
        <set>
            <if test="model.orderNo != null and model.orderNo !=''">orderNo= #{model.orderNo},</if>
            <if test="model.sendUserId != null and model.sendUserId !=''">sendUserId= #{model.sendUserId},</if>
            <if test="model.receviceUserId != null and model.receviceUserId !=''">receviceUserId= #{model.receviceUserId},</if>
            <if test="model.amt != null">amt= #{model.amt},</if>
            <if test="model.confirmAmt != null">confirmAmt= #{model.confirmAmt},</if>
            <if test="model.poundage != null">poundage= #{model.poundage},</if>
            <if test="model.source != null">source= #{model.source},</if>
            <if test="model.pushFirstReferrerScale != null">pushFirstReferrerScale= #{model.pushFirstReferrerScale},</if>
            <if test="model.pushSecondReferrerScale != null">pushSecondReferrerScale= #{model.pushSecondReferrerScale},</if>
            <if test="model.equityAmtScale != null">equityAmtScale= #{model.equityAmtScale},</if>
            <if test="model.payAmtScale != null">payAmtScale= #{model.payAmtScale},</if>
            <if test="model.tradeAmtScale != null">tradeAmtScale= #{model.tradeAmtScale},</if>
            <if test="model.cardGrade != null">cardGrade= #{model.cardGrade},</if>
            <if test="model.taskCycle != null">taskCycle= #{model.taskCycle},</if>
            <if test="model.signCycle != null">signCycle= #{model.signCycle},</if>
            <if test="model.status != null">status= #{model.status},</if>
            <if test="model.remark != null and model.remark !=''">remark= #{model.remark},</if>
            updateTime=now()
        </set>
        where id=#{id}
    </update>

    <update id="deleteById">
        update <include refid="table_name"/> set status = 0,updateTime=now() where id = #{id}
    </update>

    <select id="readRewardListByOrderType" resultType="com.model.TradeOrder">
        select <include refid="fields_id"/> from <include refid="table_name"/>
        <where>
            1=1
            <if test="userId != null">
                AND receviceUserId = #{userId}
            </if>
            <if test="list != null">
                AND  source in    <foreach collection="list" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach>
            </if>
            ORDER by createTime desc, taskCycle DESC,signCycle desc
            limit #{startRow}, #{pageSize}
        </where>
    </select>

    <select id="readInsuranceListByOrderType" resultType="com.model.TradeOrder">
        select <include refid="fields_id"/> from <include refid="table_name"/>
        <where>
            1=1
            <if test="userId != null">
                AND sendUserId = #{userId}
            </if>
            <if test="list != null">
                AND  source in    <foreach collection="list" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach>
            </if>
            ORDER by createTime desc, taskCycle DESC,signCycle desc
            limit #{startRow}, #{pageSize}
        </where>
    </select>



    <select id="sumReadRewardByOrderType" resultType="Double">
        select SUM(confirmAmt) from <include refid="table_name"/>
        <where>
            1=1
            <if test="userId != null">
                AND receviceUserId = #{userId}
            </if>
            <if test="list != null">
                AND  source in    <foreach collection="list" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach>
            </if>
        </where>
    </select>


    <select id="readInsuranceCountByOrderType" resultType="Integer">
        select count(1) from <include refid="table_name"/>
        <where>
            1=1
            <if test="userId != null">
                AND sendUserId = #{userId}
            </if>
            <if test="list != null">
                AND  source in    <foreach collection="list" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach>
            </if>
        </where>
    </select>

    <select id="readRewardCountByOrderType" resultType="Integer">
        select count(1) from <include refid="table_name"/>
        <where>
            1=1
            <if test="userId != null">
                AND receviceUserId = #{userId}
            </if>
            <if test="list != null">
                AND  source in    <foreach collection="list" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach>
            </if>
        </where>
    </select>


    <select id="countTotalOrderAmtByTime" resultType="Integer">
        <![CDATA[
             select count(id) from <include refid="table_name"/>
                <where>
                    1=1
                    <if test="startTime != null">
                        AND createTime >=#{startTime}
                    </if>
                    <if test="endTime != null">
                        AND createTime <=#{endTime}
                    </if>
                    <if test="list != null">
                        AND  source in    <foreach collection="list" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach>
                    </if>
            </where>
        ]]>
    </select>

    <select id="sumTotalOrderAmtByTime" resultType="Double">
        <![CDATA[
            select  SUM(amt) from <include refid="table_name"/>
            <where>
                1=1
                <if test="startTime != null">
                    AND createTime >=#{startTime}
                </if>
                <if test="endTime != null">
                    AND createTime <=#{endTime}
                </if>
                <if test="list != null">
                    AND  source in    <foreach collection="list" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach>
                </if>
            </where>
         ]]>
    </select>

    <select id="sumTotalPayAmtByTime" resultType="Double">
        <![CDATA[
            select  SUM(amt*payAmtScale) from <include refid="table_name"/>
            <where>
                1=1
                <if test="startTime != null">
                    AND createTime >=#{startTime}
                </if>
                <if test="endTime != null">
                    AND createTime <=#{endTime}
                </if>
                <if test="list != null">
                    AND  source in    <foreach collection="list" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach>
                </if>
            </where>
          ]]>
    </select>

    <select id="sumTotalTradeAmtByTime" resultType="Double">
        <![CDATA[
        select  SUM(amt*tradeAmtScale) from <include refid="table_name"/>
        <where>
            1=1
            <if test="startTime != null">
                AND createTime >=#{startTime}
            </if>
            <if test="endTime != null">
                AND createTime <=#{endTime}
            </if>
            <if test="list != null">
                AND  source in    <foreach collection="list" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach>
            </if>
        </where>
        ]]>
    </select>
</mapper>