<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.UserSignMapper">

	<sql id="fields">
		userId,uid,preSignTime,signTime,amt,rmbCovertEquityScale,rmbCovertPayAmtScale,rmbCovertTradeAmtScale,createTime,updateTime,status,remark
	</sql>

	<sql id="fields_id">
		id,<include refid="fields"/>
	</sql>

	<sql id="table_name">base_user_sign</sql>

	<sql id="selector">
		select <include refid="fields_id"/> from <include refid="table_name"/>
	</sql>

	<sql id="condition">
		<where>
			<if test="model.userId != null and model.userId != ''">userId=#{model.userId}</if>
			<if test="model.uid != null and model.uid != ''">uid=#{model.uid}</if>
			<if test="model.preSignTime != null">and preSignTime=#{model.preSignTime}</if>
			<if test="model.signTime != null">and signTime=#{model.signTime}</if>
			<if test="model.amt != null">and amt=#{model.amt}</if>
			<if test="model.status != null">and status=#{model.status}</if>
			<if test="model.remark != null and model.remark != ''">and remark=#{model.remark}</if>
		</where>
	</sql>

	<insert id="create" useGeneratedKeys="true" keyProperty="id">
		insert into <include refid="table_name"/>(<include refid="fields_id"/>)
		values(#{id},#{userId},#{uid},#{preSignTime},#{signTime},#{amt},#{rmbCovertEquityScale},#{rmbCovertPayAmtScale},#{rmbCovertTradeAmtScale},now(),now(),#{status},#{remark});
	</insert>

	<select id="readById" resultType="com.model.UserSign">
		<include refid="selector"/> where id=#{id}  limit 1;
	</select>

	<select id="readList" resultType="com.model.UserSign">
		<include refid="selector"/> <include refid="condition"/>
		ORDER BY createtime desc
		limit #{startRow}, #{pageSize};
	</select>

	<select id="readOne" resultType="com.model.UserSign">
		<include refid="selector"/> <include refid="condition"/> limit 1;
	</select>

	<select id="readCount" resultType="int">
		select count(1) from <include refid="table_name"/> <include refid="condition"/>
	</select>

	<update id="updateById">
		update <include refid="table_name"/>
		<set>
			<if test="model.userId != null and model.userId !=''">userId= #{model.userId},</if>
			<if test="model.preSignTime != null">preSignTime= #{model.preSignTime},</if>
			<if test="model.signTime != null">signTime= #{model.signTime},</if>
			<if test="model.amt != null">amt= #{model.amt},</if>
			<if test="model.status != null">status= #{model.status},</if>
			<if test="model.remark != null and model.remark !=''">remark= #{model.remark},</if>
			updateTime=now()
		</set>
		where id=#{id}
	</update>

	<update id="deleteById">
		update <include refid="table_name"/> set status = 0,updateTime=now() where id = #{id}
	</update>

	<select id="sumUserSignByTime" resultType="Double">

			select  SUM(amt) from <include refid="table_name"/>
			<where>
				1=1
				<if test="startTime != null">
					AND createTime >=#{startTime}
				</if>
				<if test="endTime != null">
					<![CDATA[	AND createTime <=#{endTime}]]>
				</if>
			</where>

	</select>
</mapper>