<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hansen.mappers.WalletParameterMapper">
    <sql id="fields">
		currencyType,name,value,kind,title,createTime,updateTime,status,remark
	</sql>

    <sql id="fields_id">
        id,
        <include refid="fields"/>
    </sql>

    <sql id="table_name">wallet_parameter</sql>

    <sql id="selector">
        select
        <include refid="fields_id"/>
        from
        <include refid="table_name"/>
    </sql>

    <sql id="condition">
        <where>
            <if test="model.currencyType != null and model.currencyType != ''">currencyType=#{model.currencyType}</if>
            <if test="model.name != null and model.name != ''">and name=#{model.name}</if>
            <if test="model.value != null and model.value != ''">and value=#{model.value}</if>
            <if test="model.kind != null and model.kind != ''">and kind=#{model.kind}</if>
            <if test="model.title != null and model.title != ''">and title=#{model.title}</if>
            <if test="model.status != null">and status=#{model.status}</if>
            <if test="model.remark != null and model.remark != ''">and remark=#{model.remark}</if>
        </where>
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="table_name"/>(
        <trim  suffixOverrides="," >
            <if test="model.id!= null  and model.id!=''">
                id,
            </if>
            <if test="model.currencyType!= null  and model.currencyType!=''">
                currencyType,
            </if>
            <if test="model.name!= null  and model.name!=''">
                name,
            </if>
            <if test="model.value!= null  and model.value!=''">
                value,
            </if>
            <if test="model.kind!= null  and model.kind!=''">
                kind,
            </if>
            <if test="model.title!= null  and model.title!=''">
                title,
            </if>
            <if test="model.createTime!= null  and model.createTime!=''">
                createTime,
            </if>
            <if test="model.updateTime!= null  and model.updateTime!=''">
                updateTime,
            </if>
            <if test="model.status!= null  and model.status!=''">
                status,
            </if>
            <if test="model.remark!= null  and model.remark!=''">
                remark,
            </if>
        </trim>
        )
        values(
        <trim  suffixOverrides="," >

            <if test="model.id!= null  and model.id!=''">
                #{model.id},
            </if>
            <if test="model.currencyType!= null  and model.currencyType!=''">
                #{model.currencyType},
            </if>
            <if test="model.name!= null  and model.name!=''">
                #{model.name},
            </if>
            <if test="model.value!= null  and model.value!=''">
                #{model.value},
            </if>
            <if test="model.kind!= null  and model.kind!=''">
                #{model.kind},
            </if>
            <if test="model.title!= null  and model.title!=''">
                #{model.title},
            </if>
            <if test="model.createTime!= null  and model.createTime!=''">
                #{model.createTime},
            </if>
            <if test="model.updateTime!= null  and model.updateTime!=''">
                #{model.updateTime},
            </if>
            <if test="model.status!= null  and model.status!=''">
                #{model.status},
            </if>
            <if test="model.remark!= null  and model.remark!=''">
                #{model.remark},
            </if>
        </trim>
        );
    </insert>

    <select id="readById" resultType="WalletParameter">
        <include refid="selector"/>
        where id=#{id} limit 1;
    </select>

    <select id="readList" resultType="WalletParameter">
        <include refid="selector"/>
        <include refid="condition"/>
        limit #{startRow}, #{pageSize};
    </select>

    <select id="readOne" resultType="WalletParameter">
        <include refid="selector"/>
        <include refid="condition"/>
        limit 1;
    </select>

    <select id="readCount" resultType="int">
        select count(1) from
        <include refid="table_name"/>
        <include refid="condition"/>
    </select>

    <update id="updateById">
        update
        <include refid="table_name"/>
        <set>
            <if test="model.currencyType != null and model.currencyType !=''">currencyType= #{model.currencyType},</if>
            <if test="model.name != null and model.name !=''">name= #{model.name},</if>
            <if test="model.value != null and model.value !=''">value= #{model.value},</if>
            <if test="model.kind != null and model.kind !=''">kind= #{model.kind},</if>
            <if test="model.title != null and model.title !=''">title= #{model.title},</if>
            <if test="model.status != null">status= #{model.status},</if>
            <if test="model.remark != null and model.remark !=''">remark= #{model.remark},</if>
            updateTime=now()
        </set>
        where id=#{id}
    </update>

    <update id="deleteById">
        update
        <include refid="table_name"/>
        set status = 0,updateTime=now() where id = #{id}
    </update>
</mapper>



