<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hansen.mapper.SysParameterMapper">
    <sql id="fields">
        paraName,paraCnName,paraValue,createTime,updateTime,remark,state,createTime,updateTime,status,remark
    </sql>

    <sql id="fields_id">
        id,<include refid="fields"/>
    </sql>

    <sql id="table_name">sys_parameter</sql>

    <sql id="selector">
        select <include refid="fields_id"/> from <include refid="table_name"/>
    </sql>

    <sql id="condition">
        <where>
            <if test="model.paraName != null and model.paraName != ''">paraName=#{model.paraName}</if>
            <if test="model.paraCnName != null and model.paraCnName != ''">and paraCnName=#{model.paraCnName}</if>
            <if test="model.paraValue != null and model.paraValue != ''">and paraValue=#{model.paraValue}</if>
            <if test="model.remark != null and model.remark != ''">and remark=#{model.remark}</if>
            <if test="model.state != null and model.state != ''">and state=#{model.state}</if>
            <if test="model.status != null">and status=#{model.status}</if>
            <if test="model.remark != null and model.remark != ''">and remark=#{model.remark}</if>
        </where>
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="table_name"/>(<include refid="fields_id"/>)
        values(#{id},#{paraName},#{paraCnName},#{paraValue},now(),now(),#{remark},#{state},now(),now(),#{status},#{remark});
    </insert>

    <select id="readById" resultType="com.model.SysParameter">
        <include refid="selector"/> where id=#{id}  limit 1;
    </select>

    <select id="readList" resultType="com.model.SysParameter">
        <include refid="selector"/> <include refid="condition"/> limit #{startRow}, #{pageSize};
    </select>

    <select id="readOne" resultType="com.model.SysParameter">
        <include refid="selector"/> <include refid="condition"/> limit 1;
    </select>

    <select id="findAll" resultType="com.model.SysParameter">
        <include refid="selector"/>  order by createTime desc
    </select>

    <select id="readCount" resultType="int">
        select count(1) from <include refid="table_name"/> <include refid="condition"/>
    </select>

    <select id="findCount" resultType="int">
        select count(1) from <include refid="table_name"/> <include refid="condition"/>
    </select>

    <update id="updateById">
        update <include refid="table_name"/>
        <set>
            <if test="model.paraName != null and model.paraName !=''">paraName= #{model.paraName},</if>
            <if test="model.paraCnName != null and model.paraCnName !=''">paraCnName= #{model.paraCnName},</if>
            <if test="model.paraValue != null and model.paraValue !=''">paraValue= #{model.paraValue},</if>
            <if test="model.remark != null and model.remark !=''">remark= #{model.remark},</if>
            <if test="model.state != null and model.state !=''">state= #{model.state},</if>
            <if test="model.status != null">status= #{model.status},</if>
            <if test="model.remark != null and model.remark !=''">remark= #{model.remark},</if>
            updateTime=now()
        </set>
        where id=#{id}
    </update>

    <update id="deleteById">
        update <include refid="table_name"/> set status = 0,updateTime=now() where id = #{id}
    </update>


</mapper>



