<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<bean id="statusTask" class="com.hansen.tradecurrency.task.TransactionStatusTask" />
    <bean id="readTask" class="com.hansen.tradecurrency.task.ReadTransactionFromWalletTask" />
    <bean id="orderTask" class="com.hansen.tradecurrency.task.HandleWalletOrderTask" />
    <task:scheduled-tasks>
        <task:scheduled ref="orderTask" method="doTask" cron="0/30 * * * * ?"/>
   </task:scheduled-tasks>
    <task:scheduled-tasks>
        <task:scheduled ref="readTask" method="doTask" cron="0/10 * * * * ?"/>
    </task:scheduled-tasks>
    <task:scheduled-tasks>
        <task:scheduled ref="statusTask" method="doTask" cron="* 0/10 * * * ?"/>
    </task:scheduled-tasks>
</beans>